* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* Fondo general */
body {
  background-color: #f7f8fb; 
  color: #2c2c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* main */
.m-2 {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  width: 90%;
  max-width: 1100px;
  margin-top: 30px;
}

/* Header */
header {
  grid-column: 1 / -1;
  background-color: #d6c2f0;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
}

/* Panel lateral */
#panel-izquierda {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #e4dcf7;
}

/* Sección principal */
#principal {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #e4dcf7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Series */
#series {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

/* Cada serie */
.serie {
  background-color: #f8f6ff;
  border: 1px solid #d6c2f0;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.serie img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.serie h3 {
  font-size: 1.1rem;
  color: #4b3a70;
  margin-bottom: 5px;
}

.serie p {
  color: #6d5c89;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Botón dentro de la carta */
.serie button {
  background-color: #c8a9f0;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* Botones de navegación */
.botones_orden {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

#anterior,
#siguiente {
  background-color: #e2d6f9;
  border: 1px solid #d6c2f0;
  color: #4b3a70;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

#ordenar_porGenero,
#ordenar_porNombre{
  background-color: #e2d6f9;
  border: 1px solid #d6c2f0;
  color: #4b3a70;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}




/* Enlace inferior */
a {
  margin-top: 25px;
  color: #6f55a1;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media Queries*/ 
@media (max-width: 900px) {
  #series{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px){
  #series{
    grid-template-columns: 1fr;
  }
}